<section class="my-5">
    <h2>Liste des produits</h2>
    
    <h3>Moteur de recherche : </h3>
    <app-product-filter (filterEvent)="onFilterEvent($event)"></app-product-filter>

    <h3>Nombre de produits dans le panier : {{cartSize$ | async}}</h3>

    <div class="card my-2" *ngFor="let product of filteredProducts$ | async">
        <div class="card-header">
            {{product.name}} 
            <span class="badge badge-primary">{{product.price}} €</span>
            <button type="button" class="btn btn-primary" style="float: right;" (click)="AddToCart(product)">Ajouter au Panier</button>
        </div>
    </div>

    
</section>
